:root {
	--Theme-color: #479edc;
	--Theme-color-g3: rgba(64,158,255, 0.5);
	--Theme-color-error: #Eb2013;
	--Theme-color-white: #fff;
	--Theme-color-white-bit: rgb(250,250,250);
	--content-background: #fafafa;
	--content-color-edit: #0265D2;
	--background-color-shade-one: rgb(237,237,237);
	--background-color: #f2f2f2;
	--background-color-secondary: #f9f9f9f9;
	--border-color-default:var(--grey-20);
	--box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
	--box-shadow-light: 0 1px 3px rgb(18 18 18 / 10%);
	--box-shadow-bold: 0 2px 8px 0 rgb(0 0 0 / 20%);
	--header-height: 50px;
	--hide-collapse-width: 49px;
	--icon-button-lighter-mini-padding: 7px;
	--dropdown-menu-padding: 6px 0;
}

:root {
	--font-color-grey146: rgb(146,146,146);
	--font-color-secondary: #6b6b6b;
	--font-color-important: #606266;
	--font-color-tertiary: #a6a6a6;
	--grey-10: #f2f2f2;
	--grey-70: #303030;
	--grey-20: #EDEDED;
	--content-color-primary: #212121;
	
	--font-color-dark: #2e2e2e;
	--font-size-s: 12px;
	--font-size-m: 13px;
	--font-size-l: 15px;
	--font-size-ml: 14px;
	--font-color-primary: #606266
}

:root {
	--border-radius-m: 2px;
	--border-radius-l: 3px;
	--border-radius-xl: 4px;
}
:root {
	--spacing-s: 8px;
	--spacing-m: 14px;
	--spacing-l: 16px;
	--spacing-xl: 24px;
}
:root {
	--side-icon-color: #212121;
	--side-icon-color-hover: #000000;
	--highlight-background-color-tertiary: #e6e6e6;
	--background-color-tertiary: var(--grey-20)
}