.Login {
    background-color: var(--background-color);
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.LoginCard {
	padding: 35px;
	background: var(--theme-color-white);
	box-shadow: var(--box-shadow);
	border-radius: 3px;
	font-size: 12px;
	text-align: right;
}
.RegisterTip .CreateRegister {
	color: var(--theme-color);
	cursor: pointer;
}
.LoginFormItem {
	margin-bottom: 5px !important;
}
.LoginFormItem label {
	font-size: 12px !important;
	padding: 0 !important;
}
.anyQuestion {
	line-height: 14px !important;
	font-size: 12px !important;
	cursor: pointer;
	color: var(--theme-color);
}

.Visitor {
	font-size: 12px;
	color: var(--font-color-grey146);
	position: fixed;
	bottom: 20px;
	cursor: pointer;
}
.CaptchaMasker {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 999;
}